<!DOCTYPE html>
<html>

<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
		<h1>Thanks for your purchase,
				<%= @order.customer_full_name %>
		</h1>
		<p>
				Your order details are as follows:
		</p>
		<% @order_details.each do |detail| %>
		<p class="artist">
				<%= detail.product_option.product.artist.name%>
		</p>
		<p class="product">
				<%= detail.product_option.product.name%>
		</p>
		<p class="option">
				<%= detail.product_option.option.name%>:
				<%=detail.product_option.option.value%>
		</p>
		<p class="quantity">
				Quantity:
				<%= detail.quantity%>
		</p>
		<p class="price">
				Price:
				<%= sprintf("%.2f", detail.unit_price)%>
		</p>
		<%end%>
		<p class="price-total">Amount Paid: $
				<%= sprintf("%.2f", @order.total_price)%>
		</p>
		<p>Have a great day!</p>
</body>

</html>